<h1><%= @book.title()%>, By: <%= @book.author()%> </h1>

<% if @book.available? %>
  <h3>This book is available! Check it out below.</h3>
  <form action ="/books/<%=@book.book_id()%>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="patron_id">Choose your name from the list:</label>
    <select id='patron_id' name='patron_id' type='text'>
      <% @patrons.each() do |patron| %>
      <option value="<%= patron.patron_id()%>"> <%= patron.patron_name() %> </option>
      <% end %>
    </select>
    <button type="submit">Check out book!</button>
  </form>
<% else %>
  <h3>This book is currently checked out by <%= @book.who_has_book?().patron_name() %>.</h3>
<% end %>

<h3>Checkout History:</h3>
<ul><%@book.return_list().each() do |array| %>
  <% if array[1] != nil %>
    <li> <%= Patron.find(array[0]).patron_name() %>, Returned on: <%= Date.parse(array[1]).strftime('%B %e, %Y') %></li>
  <% end %>
  <%end%>
</ul>

<a href="/books/<%=@book.book_id()%>/edit">Update Book Info</a><br>
<a href="/books">Book List</a><br>
<a href="/patrons">Patron List</a><br>
<a href="/">Home</a>
