<h1><%= @patron.patron_name() %></h1>

<% if @patron.due_list().any? %>
  <h3>Books you currently have checked out:</h3>
  <% @patron.due_list().each() do |book_array| %>
    <ul>
      <li><a href="/books/<%= book_array[0] %>/return"> <%= Book.find(book_array[0]).title() %> By <%= Book.find(book_array[0]).author %></a>, Due on: <%= Date.parse(book_array[1]).strftime('%B %e, %Y')%></li>
    </ul>
  <% end %>
<% else %>
  <h3>You currently have no books checked out.</h3>
<% end %>


<a href="/books">See List of Books</a><br>
<a href="/patrons/<%= @patron.patron_id %>/edit">Update Patron Info</a><br>
<a href="/patrons">Back to List of Patrons</a><br>
<a href="/">Home</a>
